/* =========================
   Variáveis Globais
   ========================= */
:root {
  --primary-bg-color: #c93b3b;
  --secondary-bg-color: #1560ac;
  --primary-border-color: #24c739;
  --secondary-border-color: #5555b8;

  --title-color: #222222;
  --text-color: #0e0e0f;
  --link-color: #dfe0e9;
  --icon-color: #141518;

  /* carousel */
  --width: 400px;
  --height: 400px;
  --quantity: 6;
  --duration: 60s;
}

/* =========================
   Reset / Base
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
}

i {
  color: var(--icon-color);
}

b {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "League Spartan", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}
h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.4rem;
}
h3 {
  font-size: 1.55rem;
  text-align: left;
}
h4 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.15rem;
  text-align: left;
}

p,
span,
li {
  font-size: 1rem;
}
p {
  text-align: justify;
}

ul {
  list-style: none;
}

/* =========================
   Header / Navbar
   ========================= */

header h1 {
  display: none;
}

/* Navbar base */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: 0.3s ease;
  width: 100%;
}

/* Botão hamburger escondido no desktop */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

nav.scrolled {
  background: rgba(255, 255, 255, 0.8);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  position: static;
  width: auto;
}

/* Submenus */
.has-submenu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  min-width: 250px;
  z-index: 10;
  list-style: none;
}

.submenu li a {
  padding: 0.5rem 1rem;
}

nav li {
  position: relative;
}

li a {
  text-transform: uppercase;
}

li a:hover {
  background-color: #e5533d;
  color: #fff;
  border-radius: 3px;
}

nav li.logo-item {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav li.logo-item img {
  display: block;
  width: 200px;
  height: 50px;
}

/* =========================
   Botões
   ========================= */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}
.btn--primary {
  border: 1px solid var(--primary-color);
}

.reservation-btn {
  position: absolute;
  right: 1rem;
  top: 10px;
  background-color: rgb(12, 10, 10);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s ease;
}

.reservation-btn:hover {
  background-color: #d03;
}

/* =========================
   Main / Overlay
   ========================= */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* =========================
   Galeria
   ========================= */

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
  margin-top: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* =========================
   Form
   ========================= */

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/** Banner **/
.banner-info {
  display: none;
  align-items: center;
  padding: 12px 20px;
  background-color: #e8f5e9;
  border-left-color: #4caf50;
  border-radius: 4px;
  font-family: sans-serif;
  color: #4caf50;
  margin: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.banner-info .icon {
  margin-right: 15px;
  font-size: 1.2rem;
}

.banner-info p {
  margin: 0;
  font-size: 0.95rem;
}

/* =========================
   Modal
   ========================= */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 15px;
  color: #333;
}
.modal-content label {
  display: block;
  margin-top: 10px;
}
.modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.modal-content button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #0f0f0f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #e5533d;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* =========================
   FOOTER GERAL
========================= */
.site-footer {
  color: #0c0303;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
}

.site-footer .footer-social {
  margin: 30px 0 0 0;
  text-align: center;
}

.fa-facebook-f {
  color: #1560ac;
}

.fa-instagram {
  color: #83410c;
}
.site-footer .footer-social h1,
.site-footer .footer-social h2 {
  color: #333;
  padding: 20px;
}

.site-footer .footer-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.site-footer .footer-location .address h3 {
  color: #333;
}

.site-footer .footer-location .address p,
.site-footer .footer-text p {
  font-size: 18px;
}
.site-footer .footer-location .map iframe {
  width: 800px;
  height: 450px;
}

/* =========================
   Reviews Section
   ========================= */
.reviews-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
}
.reviews-section h2 {
  display: none;
}

.reviews-section .reviews-chefe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  overflow: hidden;
}

.reviews-section .reviews-chefe .review p,
.reviews-section .review.review-central p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-top: 30px;
  text-align: justify;
}

.reviews-images {
  display: flex;
  width: 100%;
}

.reviews-images img {
  width: 50%;
  height: 420px;
  object-fit: cover;
  display: block;
  filter: grayscale(100%);
}

.reviews-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

/* =========================
   Carousel
   ========================= */
.carousel {
  position: absolute;
  z-index: 1;
}

.carousel h2 {
  display: none;
}
/* =========================
   Chefs Section
   ========================= */
.chefs-section {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #f8f8f8;
  position: sticky;
  z-index: -2;
}

.chefs-section h2 {
  display: none;
}

.chefs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0;
  margin: 0;
  padding: 0;
}

.chef img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

/* =========================
   História Section
   ========================= */
.historia-section {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.historia-section h2 {
  color: #333;
}

.historia-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 30px;
}

.historia-text {
  flex: 1;
}
.historia-text h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}
.historia-text p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.historia-img {
  flex: 1;
}
.historia-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* =========================
   Carta Section
   ========================= */
.carta-section {
  padding: 3rem 1rem 1rem 1rem;
  background-color: #fff;
}

.hidden {
  display: none;
}

/* =========================
   Responsividade Desktop
   ========================= */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  nav ul li a {
    font-size: 20px;
  }

  .logo-container {
    display: none;
  }

  .carousel {
    padding: 8rem;
  }
}

/* =========================
   MOBILE
   ========================= */
@media (max-width: 767px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    left: 10px;
  }

  nav {
    height: 60px;
  }

  nav ul {
    position: fixed;
    left: 0.5rem;
    top: 60px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
    width: 250px;
    padding: 20px 30px;
    display: none;
  }

  .submenu {
    min-width: 250px;
  }

  nav ul.active {
    display: flex;
  }

  nav li.logo-item {
    display: none;
  }

  .logo-container {
    display: flex;
    position: absolute;
    justify-content: center;
  }

  .logo-container img {
    display: block;
    width: 200px;
    height: 50px;
  }

  .historia-section .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .carousel {
    padding: 6rem;
  }

  .gallery .gallery-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .site-footer .footer-location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
